{% extends 'base.html' %}
{% block content %}
<div class="container h-100 text-white mt-5">
    <p> Category details:</p>
    
    <div>
        <p>Name:  {{ category.name }} </p>

    </div>
    <p> Actions:
    <p>  <a class ="text-white" href="{% url 'management:cat_update' category.slug %}" class="btn btn-link" >Edit category</a> </p>
    <p>  <a class ="text-white" href="{% url 'management:cat_delete' category.slug %}" class="btn btn-link" >Delete category</a> </p>
    </p>
</div>

{% endblock content %}
