{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> Category details:</p>
    
    <div>
        <p>Name:  {{ category.name }} </p>

    </div>
    <p> Actions:
        <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="/management/shop_management/categories/">Back</a>
        <a href="{% url 'management:cat_update' category.slug %}" class="btn btn-link fas fa-edit" >Edit category</a> 
        <a href="{% url 'management:cat_delete' category.slug %}" class="btn btn-link fas fa-trash" >Delete category</a> 
    </p>
</div>

{% endblock content %}
