{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:management' %}">Back to Console</a>
    <a class="btn btn-link fas fa-plus" style="vertical-align:middle" href="{% url 'management:cat_add' %}">Add category</a></p>
    List of our categories:
    {% for cat in category_list %}
    <div>       
        <a href="{% url 'management:cat_details' cat.slug %}">Name: {{ cat.name }} ID:{{ cat.slug }} </a> 
    </div>
    {% endfor%}

    
</div>

{% endblock content %}