{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5 my_console_h">
    <p><a class="text-decoration-none" href="{% url 'management:users' %}">Manage Users</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:profiles' %}">Manage User profiles</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:manage_shop' %}">Manage Shop</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:vouchers' %}">Manage Vouchers</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:subscribers' %}">Manage Subscribers</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:newsletters' %}">Manage Newsletters</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:pictures' %}">Manage Gallery</a></p>
    <p><a class="text-decoration-none" href="{% url 'management:pictures_of_the_month' %}">Manage Gallery of the month</a></p>
</div>

{% endblock content %}