{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> Newsletter details:</p>
    
    <div>
        <p>Subject:  {{ newsletter.subject }} </p>
        <p>Created:  {{ newsletter.created_at }} </p>
        <p>Updated:  {{ newsletter.updated_at }} </p>
        <p>File:  {{ newsletter.contents }} </p>

    </div>
    <p> Actions:
    <p>  <a href="{% url 'management:newsletter_update' newsletter.id %}" class="btn btn-link" >Edit newsletter</a> </p>
    <p>  <a href="{% url 'management:newsletter_delete' newsletter.id %}" class="btn btn-link" >Delete newsletter</a> </p>
    </p>
</div>

{% endblock content %}
