{% extends "console_base.html" %}
{% block content %}
<body class="home-image">
<div class="container h-100 mt-5 my_user_profile">
    <p> Profile details:</p>
    
    <div>
        <p>User:  {{ profile.user }} </p>
        <p>Profile ID:  {{ profile.id }} </p>
        <p>Profile role:  {{ profile.role }} </p>
        <p>Phone number:  {{ profile.mobile }} </p>
        <p>Profile image name:  {{ profile.mobile }} </p>
        <p>Image:  <img class="rounded-circle" style = "max-width: 400px; max-height: 400px;" src="{{profile.image.url}}"></p>

    </div>
    <p> Actions:
    <p>  <a href="{% url 'management:profile_update' profile.id %}" class="btn btn-link fas fa-user-edit" >Edit profie</a> </p>
    <p>  <a href="{% url 'management:profile_delete' profile.id %}" class="btn btn-link fas fa-user-minus" >Delete profie</a> </p>
    </p>
</div>
</body>
{% endblock content %}
