{% extends "console_base.html" %}
{% block content %}
<body class="home-image">
    <div class="container h-100 mt-5 my_subscriber_detail">
        <p> Subscriber details:</p>
    
        <div>
            <p>Email:  {{ subscriber.email }} </p>
            <p>Confirmed:  {{ subscriber.confirmed }} </p>

        </div>
        <p> Actions:
        <p>  <a href="{% url 'management:subscriber_update' subscriber.id %}" class="btn btn-link fas fa-edit" >Edit subscriber</a> </p>
        <p>  <a href="{% url 'management:subscriber_delete' subscriber.id %}" class="btn btn-link fas fa-trash" >Delete subscriber</a> </p>
        </p>
    </div>
</body>
{% endblock content %}
