{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> Subscriber details:</p>
    
    <div>
        <p>Email:  {{ subscriber.email }} </p>
        <p>Confirmed:  {{ subscriber.confirmed }} </p>

    </div>
    <p> Actions:
        <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:subscribers' %}">Back</a>
        <a href="{% url 'management:subscriber_update' subscriber.id %}" class="btn btn-link fas fa-edit" >Edit subscriber</a>
        <a href="{% url 'management:subscriber_delete' subscriber.id %}" class="btn btn-link fas fa-trash" >Delete subscriber</a>
    </p>
</div>

{% endblock content %}
