{% extends "shop_base.html" %}
{% block title %}Edit User{% endblock title %}
{% block content %}
<div class="container h-100 mt-5">
</br>
  <h1>Edit</h1>
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-info ml-2 fas fa-long-arrow-alt-left" type="submit" href="{% url 'management:users' %}">Back</button>
    <button class="btn btn-info ml-2 fas fa-edit" type="submit">Update</button>
  </form>
</br>
</div>
{% endblock content %}

<a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:users' %}">Back</a>
