{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> User details:</p>
    
    <div>
        <p>Name:  {{ customuser.username }} </p>
        <p>ID: {{ customuser.id }}  </p>
        <p>Last login: {{ customuser.last_login }} </p>
        <p>Can Upload images: {{ customuser.can_upload_images }} </p> 
    </div>
    <p> Actions:
    <p>  <a href="{% url 'management:user_update' customuser.id %}" class="btn btn-link" >Edit user</a> </p>
    <p>  <a href="{% url 'management:user_delete' customuser.id %}" class="btn btn-link" >Delete user</a> </p>
    </p>
</div>

{% endblock content %}