{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:management' %}">Back to Console</a>
    <a class="btn btn-link fas fa-user-plus" style="vertical-align:middle" href="{% url 'management:user_add' %}">Add user</a></p>
    
    List of our users:
    <table>
    {% for user in user_list %}   
    <tr>
        <td> 
            <a class="fas fa-user" href="{% url 'management:user_details' user.pk %}"> Username: {{ user.username }}  ID:  {{ user.pk }} </a> 
        </td>
    </tr>  
    {% endfor%}
    </table>
    <button  onclick="topFunction()" id="myBtn" title="Go to top" > Top</button>

</div>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>
{% endblock content %}
