{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> User details:</p>
    

        <p>Name:  {{ customuser.username }} </p>
        <p>ID: {{ customuser.id }}  </p>
        <p>Last login: {{ customuser.last_login }} </p>        
        <p>Can Upload images: {{ customuser.can_upload_images }} </p> 
        <p>Is staff: {{ customuser.is_staff }} </p>

    <p> Actions:
        <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:users' %}">Back</a>
       <a href="{% url 'management:user_update' customuser.id %}" class="btn btn-link fas fa-user-edit" >Edit user</a> 
       <a href="{% url 'management:user_delete' customuser.id %}" class="btn btn-link fas fa-user-times" >Delete user</a>
    </p>
</div>

{% endblock content %}