{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <p> Voucher details:</p>    
    <div>
        <p>Code:  {{ voucher.code }} </p>
        <p>Valid from:  {{ voucher.valid_from }} </p>
        <p>Valid to:  {{ voucher.valid_to }} </p>
        <p>Discount:  {{ voucher.discount }} </p>
        <p>Is active:  {{ voucher.active }} </p>
    </div>
    <p> Actions:
        <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:vouchers' %}">Back</a>
        <a href="{% url 'management:voucher_update' voucher.id %}" class="btn btn-link fas fa-edit" >Edit voucher</a>
        <a href="{% url 'management:voucher_delete' voucher.id %}" class="btn btn-link fas fa-trash" >Delete voucher</a>
    </p>
</div>

{% endblock content %}
