{% extends "shop_base.html" %}
{% block content %}
<div class="container h-100 mt-5">
    <a class="btn btn-link fas fa-long-arrow-alt-left" style="vertical-align:middle" href="{% url 'management:management' %}">Back to Console</a>
    <a class="btn btn-link fas fa-plus" style="vertical-align:middle" href="{% url 'management:voucher_add' %}">Add voucher</a></p>
    List of our vouchers:
    {% for vouch in voucher_list %}
    <div>       
        <a href="{% url 'management:voucher_details' vouch.id %}">ID: {{ vouch.id }}    Code:  {{ vouch.code }} </a> 
    </div>
    {% endfor%}

    
</div>

{% endblock content %}