{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}
{% block content %}
{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}">-->

    <div class=" container content-section my_profile">
      <div class="media">
        <img class="rounded-circle account-img mt-1 mr-5" style = "max-width: 400px; max-height: 400px; " src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading"> {{ user.username }}</h2>
          <h5> Email: {{ user.email }}</h5>
          <h5>Role:  {{ user.profile.role }}</h5>
          <h5>Mobile Number: {{ user.profile.mobile }}</h5>
          <h5 > Last Login:  {{user.last_login}}</h5>
        </br>
        <div>
          <a class="btn button2" style="vertical-align:middle" href="{% url 'update_profile' %}" type="submit"><span>Update Your Profile</span></a>
          <a class="btn button2" style="vertical-align:middle" href="{% url 'password_change' %}" type="submit"><span>password change</span></a>
        </div>
      </div>
      </div>
    </div>

    <script>

      setTimeout(function(){
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 2000)
    </script>
    {% include 'messages.html' %}
{% endblock content %}