{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	Create a New Account 
{% endblock %}
{% block content %}
	<div class="container h-100 text-white my_signup">
		{% if not form.is_valid %}
			<div class="mx-auto">
				<br>
				<h1 class="text-center">Create a new account</h1>
				<br>
				<div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto">
					<br>
					<p>Enter the following information to create a new account.</p>
					<form method="post">
						<p class = "text-white">{{ form | crispy }}</p>
						{% csrf_token %}
						<button type="submit" class="btn btn-primary">Register Account</button>
					</form>
					<br>
				</div>
			</div>
		{% else %}
			<div class="container h-100">
				<br>
				<h1 class="text-center">Your account has been successfully created</h1>
				<br>
				<div>
					<p>
						Dear Customer,
						<br>
						<br>
						Your account has been created and it is ready to use.
						<br>
                        <a class = "text-white" href="{% url 'home' %}">Continue shopping</a> and we hope that you will enjoy our webste and services.
					</p>
				</div>
			</div>
		{% endif %}
	</div>
	<br>
{% endblock %}
