{% extends "shop_base.html" %}
{% load static %}
{% block title %}Gallery of the month{% endblock title %}
{% block content %}

<div class ="container pt-5 h-100">
	<div>
		<h1 >Our Gallery of most voted pictures</h1>
	</div>    	

	<div class="row">
		{% for picture in Pictures_of_the_month %}
		<div class="col-lg-4 col-md-6 col-12 my-3">
			<div class = "card text-center h-100 ">
				<img class ="card-img-top" src="{{picture.picture_of_month.image.url}}" alt="{{picture.picture_of_month.title}}">				
				<div class="card-footer">
					{{picture.picture_of_month.title}}</h4>
				</div>				
			</div>
		</div>
		{% endfor %} 
	</div>

</div>
{% endblock %}