{% extends "base.html" %}
{% load static %}
{% block title %}Gallery of the month{% endblock title %}
{% block content %}

<div class ="container pt-5">
	<div class = "text-white">
		<h1 >Our Gallery</h1>
        {% if user.is_authenticated %}
		
        </br></br>
        {% endif %}
	</div>
    	<p>Calc pic of the month <a class="btn btn-link" href="{% url 'gallery_of_the_month_calc' %}">Calc pic</a></p>
	<div class="col-12">
		<div class="row">
			{% for picture in Pictures_of_the_month %}
			<div class="col-lg-4 col-md-6 col-12 my-3">
				<div class = "card text-center h-100 ">
                    blablabla
					<img class ="card-img-top" src="{{picture.picture_of_month.image.url}}" alt="{{picture.picture_of_month.title}}">
                   
					<div class="card-footer ">
						<a href="{{picture.picture_of_month.get_absolute_url}}" ><h4>{{picture.picture_of_month.title}}</h4></a>
					</div>
                    
				</div>
			</div>
			{% endfor %} 
		</div>
	</div>
</div>
{% endblock %}