{% extends 'shop_base.html' %}
{% block title %}Gallery - View Your picture{% endblock title %}
{% block content %}
</br></br>
<div class = "container h-100 ">

    <img class ="" src="{{picture.image.url}}" alt="{{picture.title}}" >

    <div class="card-footer ">
        <h4>{{picture.title}}</h4>
    </div>
   <div class=" text-center text-muted">
    {% if user.is_authenticated and user.id == picture.author_id %}
    <a href="{% url 'gallery_edit' picture.pk %}">Edit</a> |
    <a href="{% url 'gallery_delete' picture.pk %}">Delete</a> 
    {% endif %}
  <a href="{% url 'gallery' %}" class="btn btn-link" >Back to gallery</a></p>
</br></br></br></br></br></br>
  </div>
</div>
 {% endblock content %}
