{% extends "shop_base.html" %}
{% load static %}
{% block title %}{{ category.title }} | {% endblock %}
{% block content %}

<div class ="container pt-5">
		<h1 >Products in cat</h1>
		<p>Blah blah blah</p>

    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    <br>

	<div class="col-12">
		<div class="row">
			{% for product in products %}
			<div class="col-lg-4 col-md-6 col-12 my-3">
				<div class = "card text-center h-100">
					<a href="{% url 'store:product_detail' category.slug product.slug %}"><img class ="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
					<div class="card-footer ">
						<h4>{{product.name}}</h4>
					</div>
				</div>
			</div>
			{% endfor %} 
		</div>			
	</div>
</div>
{% endblock %}