{% extends 'shop_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Terms and Conditions{% endblock title %}
{% block content %}
<div class="container pt-5 pb-5">
    <h1  >Terms & Conditions</h1>
        <h2  >About Us</h2>
            <p  >
We are a specialist online and mail order company and this web site is owned and operated by AstroShop Ltd 
who are completely dedicated to your total satisfaction. If you have any suggestions or comments or if you need to contact us, 
please email us using the contact us link on the store page or use the details below. 
Please note we are a mail order company so cannot accept vistors at our premises, all correspondence must be by telephone, email or in writing.
            </p>
            <p>Registered Office Address</p>
            <p>Astronomy Shop</p>
            <p>Unit 412</p>
            <p>Broomhill Industrial Estate</p>
            <p>Tallaght</p>
            <p>Dublin</p>
            <p>Tel: 0123456789</p>
            <p>email: info@astronomy-shop.ie</p>
            <p>Company number: IE6788494</p>
            <p>VAT number: IE946500425</p>

        <h2>Making A Purchase</h2>
            <p>
Making a purchase could not be easier. Just browse our store, and add any items that you wish to buy into the shopping cart. 
After you have finished your selection, click on 'Checkout' and you will be asked for a few details that we need to be able to complete the order.
We accept Visa and MasterCard through Stripe. We do not charge for any item until it is ready to ship (except for buy now pre-orders). Backordered items are not charged until they are shipped. 
We can only accept EU & UK registered cards and require the EU or UK registered cardholder and invoice address to match in order to process your payment.
If you have made a mistake in your order and cannot correct it in the shopping cart, contact us as soon as possible and we will correct the mistake.<br>
When confirmation of your order is received, this is to indicate that we have received your order. It does not indicate that a contract exists between us. 
We will indicate acceptance of your order, and hence a contract between us, when we send you an invoice. We have included this term to protect us in the case that a mistake has been made in pricing, 
we have inadvertently under-priced goods, or we are no longer able to supply a particular product for some reason. In the case of a change of price, we will always contact you first to ensure that the price is acceptable. 
Please note that prices, specifications and images may differ from time to time and can be changed without prior notice
            </p>
        <h2>Delivery Schedule</h2>
            <p>
We are shipping normally with social distancing measures leading to some minor delays to keep everybody safe, all deliveries are now contact-less. Stay safe.
We ship each business day, orders received before lunch are normally shipped that business day. We also direct ship from our Ireland & EU suppliers, this means we have access to thousands of products that can ship fast to our customers. 
All goods are shipped fully insured with An Post FEDEX, UPS, DPD, DHL and Royal Mail, we do not use budget courier services.
            </p>
        <h2>Privacy Policy</h2>
            <p>
AstroShop Ltd do not disclose buyers' information to third parties other than when order details are processed as part of the order fulfilment. In this case, the third party will not disclose any of the details to any other third party.
GDPR compliance means AstroShop uses a secure HTTPS website and collects your data (name address etc) only with your consent and protects your data and never shares it. We are also registered with the Data Protection Commission to comply with data protection. 
Your data is safe with us.
<br><br>
We will retain the personal information you supply to us in the course of submitting an order or an enquiry, for the purpose of fulfilling that order, responding to or processing that enquiry.
If you place an order, we will retain an electronic copy of your invoice data for the period required, after which we will delete it.
Your information will be: securely stored on hardware that has limited access to only relevant persons; and on a server maintained by a third party such as a web host. Whether held by us on our hardware, or on our behalf by a third party, 
it will be kept secure and protected from unauthorised access using all reasonable means.
<br><br>
We may contact you by telephone, email or other means in relation to your order, for example: notifying you of delivery status, updating you on stock availability or informing you of changes with the order. 
You cannot opt out of these communications. We will never combine these communications with marketing promotions that you have a legal right to opt out of.
<br> <br>         
We may use your data for marketing purposes but will always provide a means for you to opt out. We may occasionally use the data you supplied, in our own Legitimate Interest, to send details of products and services that we believe may be of interest to you. 
We will never use your data in a way that conflicts with your own legal rights and interests.
<br><br>         
If we share information with a third party, such as a payment gateway or delivery company, their use of your data will be limited to the purpose of fulfilling your order.
<br><br>         
Co-operating with legal authorities
We will pass information about you and your business to legal authorities who have the legal right to demand such data.
<br> <br>        
Your rights
If you have engaged with us, but never placed an order, you may request the complete deletion of your details from our systems. Whether or not you have placed an order, you may request us never to contact you again, and we will comply with your request unless you make a further enquiry with us.
<br><br>          
Cookies are used on this shopping site to keep track of the contents of your shopping cart, to store delivery addresses if the address book is used and to store your details if you select the 'Remember Me' Option. They are also used after you have logged on as part of that process. 
You can turn off cookies within your browser by going to 'Tools | Internet Options | Privacy' (in Internet Explorer) and selecting to block cookies. If you turn off cookies, you will be unable to place orders or benefit from the other features that use cookies. Data collected by this site is used to:<br>
    a. Take and fulfil customer orders.<br>
    b. Administer and enhance the site and service.<br>
    c. Only disclose information to third-parties for goods delivery purposes.<br>
            </p>

        <h2>Returns Policy</h2>
            <p>
You are entitled to cancel your order and return the goods within 14 days for a full refund, including the cost of delivery if applicable. Do this by contacting us by email or telephone and quoting the order number supplied to you. Your refund will be paid within 30 days once goods are received and inspected. 
You are responsible for the cost and risk of loss or damage when returning the goods, so you should take out enough postal insurance to cover their value. This cancellation policy does not affect your rights when we are at fault - for example, if goods are faulty. Any unwanted goods returned should be in 
unused saleable new condition including all original packing, instructions and any free gifts. We cannot accept unwanted returns that have been assembled or used. Please note once opened software is not returnable unless faulty. All returns must be authorised by us prior to shipping to us, 
we are unable to accept visitors at our office premises. 
<br> <br>
These terms apply to your order. We may change our terms and conditions at any time, so please do not assume that the same terms will apply in the future. 
<br><br>
None of these terms affect your legal rights and these are not diminished in any way. If any term is held to be invalid under any applicable statute or rule of law, that term is automatically omitted from the terms to minimum extent 
necessary to comply with the law and without affecting the validity or enforceability of the remainder.
            </p>

</div>
{% endblock content %}